<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>

</head>

<body>
  <div id="app">
    <h1>Preview</h1>
    <p>
      Enter your markdown code to see a HTML preview below.
    </p>
    <div v-if="isOn">  
      <textarea name="editor" id="editor" cols="60" rows="10" v-on:keyup="transformMarkdown" v-model="input"></textarea>
    </div>
    <!-- this is previews your output-->
    <div id="preview" ref="preview">

    </div>  
    <button v-on:click="toggle">toggle</button>
  
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          list: ['hello', 'fcc', 'lisbon'],
          isOn: false,
          input: ""
        }
      },
      methods: {
        toggle() {
          this.isOn = !this.isOn;
        },
        transformMarkdown(event) {
         this.$refs.preview.innerHTML = marked(this.input,{breaks: true});
        }
      },
      computed: {

      }
    })
  </script>
  
</body>

</html>